<div class="text-center" style="padding-top:30px;">
    
    <div class="small-container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img class="logoBig" src="skin/images/logo.jpg" />
          <h2 class="header">TezBox</h2>
          <h3 class="header">Secure Tezos Wallet</h3>
          <br />
          <br />
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="alert alert-warning"><i class="leftIcon fas fa-exclamation-circle"></i><strong>You are now using a legacy link to access the TezBox Web Wallet - we moved to a more secure domain (https://wallet.tezbox.com). You can read more about the change <a href="https://medium.com/@officialtezbox/new-web-wallet-domain-967fd4f41df1" target="_blank">here</a>. Please go to the official TezBox website and click the Online Wallet link.</strong></p>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <a href="https://tezbox.com" class="btn btn-success btn-block">Go to TezBox</a>
          </div>
      </div>
    </div>
</div>