<div>
    <div class="row mainHeaderBox">
        <div class="col-md-6">
            <span class="logo"><img class="logoSmall" src="images/logo.jpg" /> TEZBOX</span>
        </div>
        <div class="col-md-6 text-right">
            <a ng-click="lock()" class="btn btn-icon btn-default"><i class="fa fa-lock" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <h3 style="">My Accounts</h3>
        <ul class="sidebar">
          <li><a ng-click="add()">Add Account <i class="fa fa-plus" ></i></a></li>
          <li ng-repeat="a in accounts track by a.pkh"><a ng-click="loadAccount(a)"><svg width="32" height="32" data-jdenticon-value="{{a.pkh}}"></svg> {{a.title}}</a></li>
        </ul>
      </div>
      <div class="col-md-9">
    
    <div class="row addressDetails">
        <div class="col-md-3">
          <svg width="200" height="200" data-jdenticon-value="{{account.pkh}}"></svg>
        </div>
        <div class="col-md-6">
            <h1 class="walletTitle">
              {{account.title}}
						</h1>
            <h5 class="address">
              <button ng-click="copy()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="far fa-copy" aria-hidden="true"></i>
              </button>
              {{account.pkh}}
            </h5>
            <strong><a target="_blank" href="http://tzscan.io/{{account.pkh}}">View on tzscan <i class="fas fa-external-link-alt"></i></a></strong>
            <h5 class="balance">
              {{accountDetails.balance}} 
              <button ng-click="refresh()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-sync" aria-hidden="true"></i>
              </button>
            </h5>
        </div>
        <div class="col-md-3">
          <img style="min-height:150px;margin:25px;" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{account.pkh}}" />
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a data-target="#transactions" aria-controls="transactions" role="tab" data-toggle="tab"><i class="fas fa-exchange-alt"></i> Transactions</a></li>
          <li role="presentation"><a data-target="#send" aria-controls="send" role="tab" data-toggle="tab"><i class="fas fa-paper-plane"></i> Send</a></li>
          <!--<li role="presentation"><a data-target="#receive" aria-controls="receive" role="tab" data-toggle="tab"><i class="fas fa-arrow-circle-down"></i> Receive</a></li>-->
          <li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fas fa-sliders-h"></i> Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active text-center" id="transactions">
            <strong>No transactions available (coming soon!)</strong>
          </div>
          <div role="tabpanel" class="tab-pane" id="send">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">To address</label>
                      <input type="text" class="form-control" ng-model="toaddress" >
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Amount</label>
                      <input type="text" class="form-control" ng-model="amount" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Fee</label>
                      <input type="text" class="form-control" ng-model="fee" >
                    </div>
                </div>
                    
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Parameters</label>
                      <input type="text" class="form-control" placeholder="(optional)" ng-model="parameters" >
                    </div>
                </div>
                <div class="col-md-3">
                  <a ng-click="send()" class="btn btn-small btn-success btn-block">Send</a>
                </div>
                <div class="col-md-3">
                  <a ng-click="clear()" class="btn btn-small btn-primary btn-block">Clear</a>
                </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="receive">
            <div class="row text-center">
                <div class="col-md-10 col-md-offset-1">
                  <img style="min-height:200px; margin:20px;" src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{account.pkh}}" /><br />
                  <p class="address">{{account.pkh}}</p>
                </div>
                <div class="col-md-4 col-md-offset-4">
                  <a ng-click="copy()" class="btn btn-success btn-block">Copy Address</a>
                  <br />
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <div class="row">
              <div class="col-md-12">
                <h3>Title</h3>
              </div>
            </div>
              
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="tt" >
                  </div>
              </div>
              <div class="col-md-3" >
                <a ng-click="saveTitle()" class="btn btn-small btn-success btn-block">Update Title</a>
              </div>
            </div>
            
            <div class="row" ng-show="account > 0">
              <div class="col-md-12">
                <h3>Delegate</h3>
              </div>
              <div class="col-md-6">
                  <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Please ensure the delegate you are entering has been registered to participate in the baking protocol.</strong></p>
              </div>
            </div>
              
            <div class="row" ng-show="account > 0">
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Delegate</label>
                    <select class="form-control" ng-model="delegateType">
                      <option value="">Custom</option>
                      <option value="tz1TwYbKYYJxw7AyubY4A9BUm2BMCPq7moaC">Tezzigator</option>
                      <option value="tz1UsgSSdRwwhYrqq7iVp2jMbYvNsGbWTozp">MyCryptoDelegate</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group" ng-show="!delegateType">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="text" class="form-control" ng-model="dd" >
                  </div>
              </div>
            </div>
            <div class="row" ng-show="account > 0">
              <div class="col-md-3" >
                <a ng-click="updateDelegate()" class="btn btn-small btn-success btn-block">Update Delegate</a>
              </div>
            </div>

            <div class="row" ng-show="account > 0">
              <div class="col-md-12">
                <h3>Remove Account</h3>
              </div>
            </div>
              
            <div class="row" ng-show="account > 0">
              <div class="col-md-3">
                <a ng-click="remove()" class="btn btn-small btn-success btn-block">Remove Account</a>
              </div>
            </div>
          </div>
            
          </div>
        </div>

      </div>
    </div>
    

      </div>
    </div>
</div>