<div class="text-center" style="padding-top:30px;">
    
    <div class="small-container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img class="logoBig" src="images/logo.jpg" />
          <h2 class="header">TezBox</h2>
          <h3 class="header">Secure Tezos Wallet</h3>
          <br />
          <br />
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <a ng-click="create()" class="btn btn-success btn-block">Create TezBox</a>
          <br />
            <a ng-click="restore()" class="btn btn-primary btn-block">Restore TezBox</a>
          </div>
      </div>
    </div>
</div>